.header{
    width: 500px;
    height: 200px;
    margin: auto;
    padding-top: 50px;
    /* animation: flickering 3s infinite; */
}

@keyframes flickering {
    0%{
        opacity: 0%;
    }
    10%{opacity: 100%;}
    20%{opacity: 0%;}
    50%{opacity: 80%;}
    100%{opacity: 100%;}
}

